html, body {
  padding: 25px;
  margin: 0;
	position: relative;
}

.menu-item {
  width: 200px;
  line-height: 70px;
	text-align: center;
	border: 1px solid black;
	vertical-align: middle;
	/*background: pink;*/
}

#startNav .menu-item{
	background: pink;
}
#subz{
	width: 200px;
	position: absolute;
	left: 226px;
	top: 168px;
}
#subz .menu-item{
	background: violet;
}

#subz_subz{
	width: 200px;
	position: absolute;
	left: 201px;
	top: 144px;
}
#subz_subz .menu-item{
	background: limegreen;
}
