html, body {
  padding: 25px;
  margin: 0;
	position: relative;
}

.menu-item {
  width: 200px;
  line-height: 70px;
	text-align: center;
	border-bottom: 1px solid black;
	vertical-align: middle;
}

.innersub_2{
	border-top: none;
	border-bottom;
}
.itemViews{
	border: 1px solid black;
	border-bottom: none;
	display: inline-block;
}
.itemViews .menu-item{
	background: pink;
}
.subViews{
	width: 200px;
	position: absolute;
	left: 226px;
	top: 168px;
	border: 1px solid black;
	border-bottom: none;
	display: inline-block;
}
.subViews .menu-item{
	background: violet;
}

.innerSubViews{
	width: 200px;
	position: absolute;
	left: 200px;
	top: 139.5px;
	border: 1px solid black;
	border-bottom: none;
	display: inline-block;
}
.innerSubViews .menu-item{
	background: palegreen;
}
